body {
	background-color: cyan;
}

#warnings {
	color: #db3232;
}

#do{
	color: green;
}

#donot {
	color: #f27e35;
}

#wlist {
  list-style-image: url('warning-symbol-small.png');
  padding-left: 64px;
}

#rmimg, #unplugimg, #underrug{
	float: right;
}

@media screen and (max-width: 750px) {
	#rmimg{
		float: none;
		height: 184px;
		width: 276px;
	}
	#unplugimg, #underrug{
		float: none;
	}
}